<% provide(:title, "Help") %>
<h1>Help</h1>
<pre class="pre-box">
  1. Blog features
  + User
    - can sign-up
    - can sign-in/sign-out
    - can create a entry (display title, body, date)
    - can make a comment on a entry (of owner and followed user) (display comment, name and date)
    - can follow other users
    - can see the latest entries which are posted by following users (with pagination)
  + Everyone (including no sign-in user)
    - can read all posts and their comments (with pagination)
    - cannot make a comment

  2. Future Work
  + Upload picture to heroku host (Now I dont have Amazone Web Service account.)  
  + Search a user or a entry
  + Show comment and Entry in real-time
  + Tab chat between 2 users
  + Suggest people to follow
  + Create a group.
  + Comment with emotion
  + Filter for comments
  + Test github
  ......
</pre>