
    <!--<a href="#" class="pull-right">View all</a>-->
    <ul class="nav navbar-nav navbar-right">
    <div class="dropdown">
      <a href="#" data-toggle="dropdown" class="glyphicon glyphicon-chevron-down pull-right"  >
      </a>
      <ul class="dropdown-menu dropdown-menu2 dropdown-menu-entry " >
        <li><%= link_to "Edit", edit_entry_path(@entry) %></li>
        <li><%= link_to "Delete", @entry, method: :delete,
                                       data: { confirm: "You sure?" } %></li>
      </ul>

    </div>
    </ul>