<!DOCTYPE html>
<html>
<body id="page">
    <%= render 'layouts/welcome' %>
    <ul class="cb-slideshow">
      <li><div><h3>Relax because this is time for you</h3></div></li>
      <li><div><h3>Write whatever you want</h3></div></li>
      <li><div><h3>Make friends with everybody</h3></div></li>
      <li><div><h3>See what you friend think</h3></div></li>
      <li><div><h3>And bringing us together</h3></div></li>
    </ul>
</body>
</html>